<form action ="/pokemons" method = "post">
  <label>Name</label>
  <input type ="text" name= "pokemon[name]">
  <label>PokeType</label>
  <input type = "text" name= "pokemon[poke_type]">
  <label>CP</label>
  <input type = "text" name= "pokemon[cp]">
  <label>IMG</label>
  <input type="text" name="pokemon[img_url]">
  <button type="submit">Submit</button>
</form>
